.container {
    margin-top: 50px;
}
.table {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
}
.table thead {
    background-color: #ffffff;
    color: #ffffff;
}
.table th, .table td {
    vertical-align: middle;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #dee2e6;
}
.table th:first-child, .table td:first-child {
    text-align: left;
    padding-left: 20px;
}
.table th {
    position: sticky;
    top: 0;
    background-color: #343a40;
    z-index: 1;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}
.table-hover tbody tr:hover {
    background-color: #e9ecef;
}
.custom-checkbox input[type="checkbox"] {
    transform: scale(1.3);
}
h2 {
    font-size: 2em;
    color: #343a40;
}