<div class="mainDiv">
    <div class="cardStyle">
      <form action="" method="post" name="signupForm" id="signupForm" [formGroup]="userChangePassword">
        <img src="" id="signupLogo" />

        <h2 class="formTitle">Login to your account</h2>

        <div class="inputDiv">
          <label class="inputLabel" for="password">Current Password</label>
          <input type="password" id="password" name="current_password" 
          [class.is-invalid]="userChangePassword.get('password')!.invalid 
                        && userChangePassword.get('password')!.touched"
          formControlName="current_password" required />
        </div>
        <div *ngIf="userChangePassword.get('password')!.invalid 
                  && userChangePassword.get('password')!.touched" class="invalid-feedback">
                  Mật khẩu ít nhất 6 ký tự.
                </div>

        <div class="inputDiv">
          <label class="inputLabel" for="password">New Password</label>
          <input type="password" id="password" name="password" 
          [class.is-invalid]="userChangePassword.get('password')!.invalid 
                        && userChangePassword.get('password')!.touched"
          formControlName="password" required />
        </div>
        <div *ngIf="userChangePassword.get('password')!.invalid 
                  && userChangePassword.get('password')!.touched" class="invalid-feedback">
                  Mật khẩu ít nhất 6 ký tự.
                </div>

        <div class="inputDiv">
          <label class="inputLabel" for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="retype_password" 
            [class.is-invalid]="userChangePassword.get('retype_password')!.invalid 
                          && userChangePassword.get('retype_password')!.touched"/>
          <div *ngIf="userChangePassword.hasError('passwordMismatch')" 
                  class="invalid-feedback">
                    Mật khẩu không khớp.
                  </div>
        </div>

        <div class="buttonWrapper">
          <button
            type="button"
            (click)="change()"
            id="submitButton"
            class="submitButton pure-button pure-button-primary">
            <span>Continue</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="card flex justify-content-center">
    <p-toast />
</div>